<h2>Available drones</h2>

<ul>
  {{#each drones}}
    <li>
      <strong>Name:</strong> {{this.name}}, 
      <strong>Propellers:</strong> {{this.propellers}}, 
      <strong>Max Speed:</strong> {{this.maxSpeed}}
      <a href="/drones/{{this._id}}/edit">Edit</a>
      <form action="/drones/{{this._id}}/delete" method="POST" style="display: inline;">
        <button type="submit">Delete</button>
      </form>
    </li>
  {{/each}}
</ul>